@using NikeFrontend.Services
@inject AuthenticationStateProvider AuthenticationStateProvider

    <hr />
    <footer>
        <div class="container">
            <!--phần Giới Thiệu-->
            <div class="noi-dung about">
                <h2>Về Chúng Tôi</h2>
                <p>Shop bán các mặt hàng thời trang, phụ kiện,...</p>
                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/nike/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/c/nike" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/nike/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/Nike" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <!--phần Đường Dẫn-->
            <div class="noi-dung links">
                <h2>Đường Dẫn</h2>
                <ul>
                    <li><a href="shop">Trang Chủ</a></li>
                    <li><a href="#">Về Chúng Tôi</a></li>
                    <li><a href="contactus">Thông Tin Liên Lạc</a></li>
                    <li><a href="terms">Điều Khoản Và Điều Kiện</a></li>
                </ul>
            </div>
            <!--phần Liên Hệ-->
            <div class="noi-dung contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>
                            Số 425, Đường Mạc Cửu<br />
                            Phường Vĩnh Thanh, Thành Phố Rạch Giá<br />
                            Việt Nam
                        </span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p>
                            <a href="#">+84 974 586 301</a>
                            <br />
                            <a href="#">+84 845 672 719</a>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">pkdinh.th113@kgc.edu.vn</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <p><i class="far fa-copyright"></i> 2021 CopyRight: NikeShop (Phạm Kiên Định) </p>
        </div>
    </footer>