@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <Authorized>
        <h3><b>Xin chào @role <span style="color:blue">@user.Identity.Name</span> </b></h3>
    </Authorized>

    <NotAuthorized>
        <h3><b>Welcome Guest</b></h3>
    </NotAuthorized>
</AuthorizeView>
<br/>
<CatsFact></CatsFact>

@code{

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;


    bool IsUserAuthenticated;
    string role;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;



        if (user.IsInRole("Administrator"))
        {
            role = "Admin";
        }
        if (user.IsInRole("Assistant"))
        {
            role = "Assistant";
        }


        if (user.Identity.IsAuthenticated)
            IsUserAuthenticated = true;
    }

}
<!--==========GOOGLE CALRNDAR=========-->
<iframe src="https://calendar.google.com/calendar/embed?src=l00g0213gkqll33s1sr8mb3q1s%40group.calendar.google.com&ctz=Asia%2FHo_Chi_Minh" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>