@page "/terms"
@layout ShopLayout
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="NikeShop/images/icons/favicon.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/slick/slick.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/css/util.css">
<link rel="stylesheet" type="text/css" href="NikeShop/css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="NikeShop/css/StyleFooter.css" />
<link rel="stylesheet" type="text/css" href="NikeShop/css/StyleSlide.css" />


<link href="~/css/main2.css" rel="stylesheet" />
<link href="~/css/site2.css" rel="stylesheet" />
<link href="~/css/util2.css" rel="stylesheet" />
<!--===============================================================================================-->

<div>
    <h1 class="center">ĐIỀU KHOẢN VÀ ĐIỀU KIỆN VỀ MÃ NIKE PROMO</h1>
</div>
<div>
    <ul class="list style">
        <li>Mã khuyến mãi không được áp dụng cho các đơn hàng đã đặt trước đó.</li>
        <li>Mã khuyến mại cung cấp phần trăm giảm giá có thể được sử dụng kết hợp với mã khuyến mại giao hàng miễn phí, nhưng không thể kết hợp với các mã khuyến mại giảm phần trăm khác.</li>
        <li>Mã khuyến mãi không thể chuyển nhượng hoặc quy đổi thành tiền mặt hoặc tín dụng.</li>
        <li>Mã khuyến mãi không hợp lệ trên Nike SNKRS</li>
        <li>Một số sản phẩm được loại trừ khỏi mã khuyến mãi. Xem chi tiết cụ thể của mã khuyến mãi cho các sản phẩm bị loại trừ.</li>
        <li>Để áp dụng mã khuyến mãi, bạn phải nhập mã đó trước khi hoàn tất đơn đặt hàng.</li>
    </ul>
</div>